body {
  display: flex;
  justify-content: center;
}

.card {
  border: 15px rgb(212, 169, 45) solid;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 200px;
  height: 333px;
  padding: 10px;
}
#girl-card {
  margin-left: -400px;
}

#card-header {
  display: flex;
  justify-content: space-between;
}
#cardHeader {
  display: flex;
  justify-content: space-between;
}
#card-name {
  /* border: 1px red solid; */
  color: rgb(212, 169, 45);
  padding: 5px;
  text-align: left;
  text-shadow: 0px 1px 8px black;
  margin-top: 0px;
  width: 250px;
  height: 80px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
#cardName {
  /* border: 1px red solid; */
  color: rgb(212, 169, 45);
  padding: 5px;
  text-align: left;
  text-shadow: 0px 1px 8px black;
  margin-top: 0px;
  width: 250px;
}

#cardLogo {
  width: 50px;
  height: 50px;
  /* border: 1px red solid; */
}

#card-contents {
  display: flex;
  justify-content: space-between;
}

#card-info {
  /* width: 1000px; */
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
#card-scores {
  width: 800px;
  margin-left: 10px;
}
