body {
  background-color: rgb(167, 178, 221);
  display: flex;
  align-items: center;
  flex-direction: column;
}
#topTrumpsBox {
  display: flex;
  background-color: rgb(226, 172, 24);
  height: 350px;
  width: 247px;
  justify-content: center;
  border: 10px black solid;
  margin-top: 20px;
  margin-bottom: 30px;
}
.buttonDiv {
  display: flex;
}
#dealMeIn {
  height: 100px;
  width: 250px;
  font-size: 40px;
  background-color: purple;
  border-radius: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#listOfDecks {
  justify-content: center;
  font-size: 20px;
  display: none;
}

#deckNames {
  font-size: 35px;
  color: black;
  /* text-shadow: -1px 0 black, 1px 0 black, 1px 0 black, -1px 0 black; */
  background-color: rgb(226, 172, 24);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 30px;
  border: 10px rgb(226, 172, 24) solid;
}

#deckAndTitle {
  text-align: center;
  margin: 0px 30px 0px 30px;
}

.deck {
  background-size: 140%;
  background-position: center;
  background-color: white;
  width: 280px;
  height: 370px;
  border-radius: 30px;
  font-size: 40px;
  color: rgb(226, 172, 24);
  /* text-shadow: -3px 0 black, 3px 0 black, 3px 0 black, -3px 0 black; */
  -webkit-text-stroke: 2px black;
  /* -webkit-text-stroke-color: black; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#kingsqueens {
  background-image: url("./images/kings\ &\ queens.webp");
}

#ancientRome {
  background-image: url("./images/Ancient\ Rome\ -\ Gods\ and\ Emperors.webp");
  background-size: 130%;
}

#awesomeAnimals {
  background-image: url("./images/Awesome\ Animals.jpg");
}

#players {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  /* border: 2px red solid; */
  margin-top: 0;
  width: 100%;
  /* border: 1px red solid; */
}

#playersGirlImg {
  width: 450px;
  /* border: 2px red solid; */
  float: left;
}
#playersBoyImg {
  width: 500px;
  margin-top: 40px;
  float: right;
  /* border: 2px red solid; */
}

#playButton {
  background-color: rgb(156, 167, 212);
  border-radius: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  height: 200px;
  width: 30px;
  font-size: 18px;
  display: none;
}

#playButtonBox {
  margin-left: 50px;
  /* border: 1px red solid; */
}
#winnerAndLog {
  display: none;
  /* border: 1px red solid; */
}
#winner {
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  width: 280px;
  margin-top: 110px;
  border: 10px rgb(226, 172, 24) solid;
  border-radius: 20px;
}

#log {
  display: block;
  justify-content: center;
}
#draw {
  display: none;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100px;
}

#cards {
  display: none;
  justify-content: space-between;
  /* border: 1px red solid; */
}
#spacer {
  width: 100px;
  /* border: 1px red solid; */
}
#card {
  border: 15px rgb(212, 169, 45) solid;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 200px;
  height: 333px;
  padding: 10px;
}
#girl-card {
  margin-left: -400px;
}

#card-header {
  display: flex;
  justify-content: space-between;
}
#card-name {
  /* border: 1px red solid; */
  color: rgb(212, 169, 45);
  padding: 5px;
  text-align: left;
  text-shadow: 0px 1px 8px black;
  margin-top: 0px;
  width: 250px;
}

#cardLogo {
  width: 50px;
  height: 50px;
  /* border: 1px red solid; */
}

#card-contents {
  display: flex;
  justify-content: space-between;
}

#card-info {
  /* width: 1000px; */
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
#card-scores {
  width: 800px;
  margin-left: 10px;
}
